@font-face {
  font-family: "Title";
  font-display: block;
  src: url("../../../public/assets/fonts/title.otf") format("opentype");
}

@font-face {
  font-family: "Uppercase";
  font-display: block;
  src: url("../../../public/assets/fonts/toyler.ttf");
}

@font-face {
  font-family: "NewSans";
  font-display: block;
  src: url("../../../public/assets/fonts/newsans.ttf");
}
